<div id="logo" class="fadein">
  <%= image_tag 'http://static1.squarespace.com/static/5537cc21e4b058292fde8393/t/55bfc3a2e4b08922709c2f07/1444573738585/logoWhite_300x300px.png?format=1500w' %>
</div>

<%=  render 'controls' %>