#controls {
  height: 100%;
  margin: 0 auto;
  width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

svg {
  transform: scale(0.5);
  overflow: visible;
}

/*#secondfinger_1_*/
#secondfinger_close{
  transform-origin: 10% 10%;
  animation-name: moveSecondFingerClose;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

#secondfinger_open{
  transform-origin: 10% 10%;
  animation-name: moveSecondFingerOpen;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

/*#firstfinger_1_*/
#firstfinger_open {
  transform-origin: 10% 10%;
  animation-name: moveFirstFingerOpen;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

#firstfinger_close {
  transform-origin: 10% 10%;
  animation-name: moveFirstFingerClose;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

/*#claw_1_*/
#claw_move_up {
  transform-origin: 12% 12%;
  animation-name: moveClawUp;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

#claw_move_down {
  transform-origin: 12% 12%;
  animation-name: moveClawDown;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

/*#forearm_1_ {*/
  /*transform-origin: 9% 9%;*/
  /*animation-name: moveForearm;*/
  /*animation-duration: 2.6s;*/
  /*animation-timing-function: linear;*/
  /*animation-iteration-count: infinite;*/
  /*animation-direction: alternate;*/
/*}*/

/*#arm_1_ {*/
  /*transform-origin: 9% 9%;*/
  /*animation-name: moveArm;*/
  /*animation-duration: 2.6s;*/
  /*animation-timing-function: linear;*/
  /*animation-iteration-count: infinite;*/
  /*animation-direction: alternate;*/
/*}*/


@keyframes moveFirstFingerOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes moveFirstFingerClose {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveSecondFingerOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes moveSecondFingerClose {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveClawUp {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes moveClawDown {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}


@keyframes moveForearm {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}
@keyframes moveArm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(5deg);
  }
}